<!--
  This template loads for the 'tab.about' state (app.js)
-->
<view title="'About Accessopolis'">
  <content has-header="true" has-tabs="true" padding="true">
    <img src="img/accessopolis.gif" class="logo">
    <p>
      Accessopolis allows you to find and describe accessibilities of public locations
    </p>
    <p>
      What to help improve Accessopolis? <a href="http://www.accessopolis.ch/register/" target="_blank">Register</a> and submit your photo, video and votes.
    </p>
    <p>
      Stay up-to-date with the Accesopolis
      <a href="http://www.accessopolis.ch/subscribe/" target="_blank">newsletter</a>.
    </p>
    <p>
      Apache2 Licensed. Happy coding.
    </p>
  </content>
</view>
