<!--
  This template loads for the 'tab.adopt' state (app.js)
-->
<view title="'Adopt A Location'">
    <content has-header="true" has-tabs="true">

        <div class="list list-inset">
            <p>
                Get informed about changes and improvements that are planned or executed in your preferred locations
            </p>
            <label class="item item-input">
                <span class="input-label">Your name</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Your email</span>
                <input type="email">
            </label>
            <toggle>Subscribe To Newsletter</toggle>
            <button class="button button-positive button-block">Adopt</button>
        </div>
    </content>
</view>
