<!--
  This template loads for the 'tab.pet-detail' state (app.js)
  'pet' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of pet data
-->
<view title="'Upload Your Video'">
  <content has-header="true" padding="true">
    <p>Choose city: <select ng-model="currentCity" ng-options="c.title for c in cities"></select> </p>
    <p>You selected {{currentCity.description}}</p>

    <p>Select an image from your phone gallery:</p>
      <input type="file" accept="image/*" capture="camera">
    <p><a class="button button-small icon ion-arrow-left-b" href="#/tab/pets"> All Pets</a></p>
  </content>
</view>
